@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
  --color-white: #fff;
  --pale-blue: #717FA6;
  --bright-blue: #382AE1;
  --bright-blue-hover: #382AE130;
  --body-background:#E0E8FF;

  /* neutral */
  --background: #F7F9FF;
  --dark-blue: #1F2E55;
  --dark-pink: #766CF1;
  --dark-pink-hover: #766CF170;
}

/* Base Styles */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  box-sizing: border-box;
  background-color: var(--body-background);
  background-image: url('./images/pattern-background-desktop.svg');
  background-repeat: no-repeat;
  background-size: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

}

h2 {
  font-size: 1rem;
}

h1 {
  font-size: 1.75rem;
  color: var(--dark-blue);
  font-weight: 900;
  padding-bottom: 17px;
}

p {
  color: var(--pale-blue);
  line-height: 26px;
}

.hero-image {
  max-width: 450px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

/* Flex */
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

/* Button Styles */
.btn {
  display: inline-block;
  width: 350px;
  border-radius: 10px;
  border: none;
  font-size: 0.938rem;
  font-weight: 900;
  cursor: pointer;
  background: transparent;
}

.btn-proceed {
  background: var(--bright-blue);
  border-color: var(--bright-blue);
  color: var(--color-white);
  padding: 0.938rem 0;
  box-shadow: 0 1.25em 1.25em 0 var(--bright-blue-hover);
}

.btn-proceed:hover,
.btn-proceed:active {
  background-color: var(--dark-pink);
  box-shadow: 0 1.25em 1.25em 0 var(--dark-pink-hover);
}

.btn-cancel {
  margin-top: 2em;
  color: var(--pale-blue);
}

.btn-cancel:hover,
.btn-cancel:active {
  color: var(--dark-blue);
}

/* Link */
.change-link {
  color: var(--bright-blue);
  cursor: pointer;
}

.change-link:hover,
.change-link:active {
  color: var(--dark-pink);
  text-decoration: none;
}

/* Card */
.card {
  max-width: 450px;
  width: 100%;
  background-color: var(--color-white);
  border-radius: 20px;
}

.summary {
  text-align: center;
}

.summary-details {
  padding: 2.813em 3em 0;
}

.iconMusic {
  margin-right: 1.25em;
}

.summary-plan {
  background-color: var(--background);
  padding: 1.563em;
  margin: 1.25em 3em 2em;
  border-radius: 10px;
}

.summary-buttons {
  padding-bottom: 3em;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
  body {
      background-image: url('./images/pattern-background-mobile.svg');
      background-repeat: no-repeat;
      background-size: 100vh;
  }

  .summary-details {
    padding: 2em 2em 0;
  }

  .summary-plan {
    margin: 1.5em;
    padding: 1.063em;
  }

  h1 {
    font-size: 1.375rem;
  }

  p {
    font-size: 0.938rem;
  }

  .card,
  .hero-image {
    max-width: 330px;
  }

  .summary-buttons {
    padding-bottom: 2em;
  }

  .btn {
    width: 280px;
  }

  .btn-cancel {
    margin-top: 1.5em;
  }
}