@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
--very-pale-blue: #717FA6;
--dark-blue: #1F2E55;
--dark-pink: #766CF1;
--very-dark-blue: #382AE1;
}

/* Base Styles */
*,
*::after,
*::before 
{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  box-sizing: border-box;
  background-image: url('./images/pattern-background-desktop.svg');
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h2 {
    font-size: 16px;
  }
  
h1 {
    font-size: 28px;
    color: var(--dark-blue);
    font-weight: 900;
    padding-bottom: 17px;
}

p {
    color: var(--very-pale-blue);
    font-weight: 500;
    line-height: 26px;
}

.hero-image {
    width: 100%;
}

/* Flex */
.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

/* Button Styles */
.btn {
    display: inline-block;
    width: 350px;
    padding: 15px 50px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    font-weight: 900;
 }

.btn-proceed {
    background: var(--very-dark-blue);
    border-color: var(--very-dark-blue);
    color: #fff;
}

.btn-proceed:hover,
.btn-proceed:active {
    background-color: var(--dark-pink);
    cursor: pointer;
}

.btn-cancel {
    margin-top: 24px;
    color: var(--very-pale-blue);
}

.btn-cancel:hover,
.btn-cancel:active {
    color: #1F2E55;
}

/* Link */
.change-link {
    color: var(--very-dark-blue);
 }
 
 .change-link:hover,
 .change-link:active {
     cursor: pointer;
 }

/* Card */
.card {
    max-width: 450px;
    background-color: #fff;
    border-radius: 10px;
}

.summary {
    padding: 48px;
    text-align: center;
}

.summary-image {
    margin-right: 20px;
}

.summary-plan {
   margin: 45px 0;
}

/* Mobile Styles */
@media screen and (max-width: 768px) {
    body {
        background-image: url('./images/pattern-background-mobile.svg');
    }
    h1 {
        font-size: 22px;
    }
    p {
        font-size: 15px;
    }
    .card {
        max-width: 330px;
    }
    .btn {
        width: 280px;
    }
}